.service-card {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 54px;
  border: 1px solid #87EF6F !important;
  border-radius: 10px;
  width: 336.13px;

}

.service-pet {
  bottom: -50px;
  right: 0;
}


